.main{
  position: relative;
  transition: all 0.3s ease-out;
  will-change: margin;
  // width: calc(100vw - 70px);
  margin-left: 70px;
  transform-origin: right;
  // float: right;
  // clear: both;
  // padding: .5rem 1rem;
  &--compress{
    // width: calc(100vw - 220px);
    margin-left: 220px;
  }
}
.content{
  padding: .5rem 1rem;
}
.table_wrapper{
  background: white;
  padding: 15px 20px 20px 20px;
  margin: 0 20px;
  border:1px solid #e7eaec;
}