.sidebar{
  position: absolute;
  height:100%;
  top: 0;

  bottom: 0;
  width: 70px;
  background-color: rgba(47,64,80,1);
  will-change: width;
  transition: all 0.3s ease-out;
  user-select: none;
  &--expanded{
    width: 220px;
  }
}
.user{
  padding: 33px 25px;
  position: relative;
  transition: all 0.3s ease-out;
  color: white;
  transform-origin: top left;
  // &--expand{

  // }
  &--collapse{
    padding: 10px;
    text-align: center;
    background: #007bff;
  }
  .image{
      width:75px;
      height: 75px;
      margin-bottom: 10px;
      img{
        width: 100%;
        border-radius: 50%;
      }
  }
  .name{
    color: #dfe4ed;
    font-size: 13px;
    user-select: none;
    will-change: opacity, transform;
    // transition: all 0.3s ease-out;

    span{
      cursor: pointer;
      margin-left: 3px;
    }
  }
  .dropdown{
    color: #676a6c;
    position: absolute;
    top: 83%;
    left: 24%;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;

    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid#d8d9da;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    &__item{
      user-select: none;
      display: block;
      padding: 7px 20px;
      &--border_bottom{
        border-bottom: 1px solid #d8d9da;
      }
      &--pointer{
        cursor: pointer;
      }
    }
  } 
} 
.navmenu{
  transform-origin: left;
  will-change: transform opacity;

  &__item{
    position: relative;
    clear: both;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: #a7b1c2;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    &--active{
      border-width: 0px 0px 0px 4px;
      border-style: solid ;
      border-color:#007bff;
      background-color: rgba(41,56,70,1) !important;
      cursor: default;
    }
    &:hover{
      background: #505c6b
    }
    &--expand{
      line-height: 50px;
      height: 50px;
    }
    &--collapse{
      .navmenu__item__icon{
        float: none;
      }
      // overflow: hidden;
      &__dropdown {
        display:none;
        position: absolute;
        left: 100%;
        top: 0;
        padding: 4px;
        background-color: rgba(47,64,80,1);
        transform-origin: top;
        &__item{
          padding: 10px 20px;
          &:hover{
            background-color: rgba(41,56,70,1);
          }
        }
      }
      &:hover &__dropdown{
          display: block;
      }
    }
    &__icon{
      float: left;
      width: 64px;
      height: 50px;
      font-size: 14px;
      margin-right: -6px;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: transparent;
      line-height: 50px;
      text-align: center;
    }
    &__text{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px 0 0;
      font-weight: 600;
      font-size: 13px;
    }
    &__dropdown{
      clear: both;
      background: #242f3e;
      float: left;
      transform-origin: top;
      will-change: transform;
      clear: both;
      width: 100%;
      &__item{
        height: 25px;
        line-height: 25px;
        padding:  0 6px;
        cursor: pointer;
        font-size: 13px;  
        &:hover{
          background: #505c6b
        }
      }
    }
  }
}
.open-sidebar{
  animation: open 0.3s ease-out forwards;
}


.close-sidebar{
  display: none;
}
.open-sidebar_collapsed {
  animation: slideUp 0.3s ease-out forwards;
}
.close-sidebar_collapsed {
  display: none;
}

.open-user{
  animation: openUser 0.3s ease-out forwards;
}
.close-user{
  display: none;
}
.open-dropdown{
  animation: opendropdown 0.3s ease-out forwards;
}
.close-dropdown{
  animation: closedropdown 0.3s ease-out forwards;
}

@keyframes openUser {
  0% {transform: scaleX(0);  opacity:0}
  50% {opacity:0.5}
  100% {transform: scaleX(1); opacity:1}
}

@keyframes open {
  0% {transform: scaleX(0);  opacity:0}
  50% {opacity:0.5}
  100% {transform: scaleX(1); opacity:1}
}
@keyframes close {
  0% {transform: scaleX(1);  opacity:1}
  50% {opacity:0.5}
  100% {transform: scaleX(0); opacity:0}
}

@keyframes opendropdown {
  0% {transform: scaleY(0);  opacity:0}
  50% {opacity:0.5}
  100% {transform: scaleY(1); opacity:1}
}

@keyframes closedropdown {
  0% {transform: scaleY(1);  opacity:1}
  50% {opacity:0.5}
  100% {transform: scaleY(0); opacity:0}
}

@keyframes slideUp {
  0% {transform: translateY(25%); }
  50% {opacity:0.5}
  100% {transform: translateY(0)}
}

